.searchBody{
    
    background-color: white;

}

.search{
    border: none;
    padding-left: 12px;
    width: 394px;
    height: 40px;
    border: solid 1px #dedede;
    background-color: #ffffff;
}


.searchIconBody{

    background-color: white;
    width: 20px;
    height: 25px;
    position: absolute;
    top:16%;
    left:90%
}

.searchIcon{

    color: yellow;

}