.app {
  margin: 0rem 0rem;
  display: inline-block;
  padding-top: 4px;
}

/* Snow Theme */
.app .ql-snow.ql-toolbar {
  display: flex;
  background: #ffffff;
}

.app .ql-editor {
  left: 0px;
  display: block;
  position: relative;
  padding: 1px;
  text-align: left;
  background-color: white;
}

.ql-editor p {
  color: #333333 !important;
}

.ql-editor li {
  color: #333333 !important;
}

.ql-container.ql-snow {
  border: 1px solid #ccc;
  width: 359px;
}

.app .ql-container {
  background: #fefcfc;
  top: 42px;
  height: 143px;
  position: relative;
  font-size: 13px;
  font-family: "Helvetica" !important;
}

.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: !important;
  padding: 8px;
  position: absolute;
  text-align: center;
  left: 20px;
  display: block;
  width: 92.6%;
}
.app .ql-snow.ql-toolbar .ql-stroke {
  color: black !important;
}

.app .ql-snow.ql-toolbar button.ql-active {
  color: black !important;
}

.app .ql-snow.ql-toolbar button:hover {
  color: black !important;
}

.app p {
  color: rgba(0, 0, 0, 0.65);
}
