.my-ideas-container {
  .ant-table-content {
    border-radius: 12px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    min-height: 291px;
    min-width: 700px;
  }
  .ant-table-container {
    border-radius: 12px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
  }

  .ant-table {
    border-radius: 12px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    text-align: left;
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    table {
      margin-bottom: 15px;
    }
    .ant-table-thead {
      background-color: #ffffff;
      tr {
        th {
          background: #ffffff;
          border-bottom: 2px solid #eeeeee;
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #5a5a5a;
        }
      }
    }

    .ant-table-tbody {
      tr.ant-table-row {
        td {
          border-bottom: none;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          color: #5a5a5a;
          padding: 5px 0 5px 20px;
          cursor: pointer;
        }
      }
      tr.ant-table-row:hover {
        td {
          background: #cccccc26;
          color: #333333;
        }
      }
      .ant-table-placeholder {
        .ant-table-cell {
          border-bottom: none;
          height: 230px;
        }
      }
    }
  }
}

.display-status-tag {
  width: 96px !important;
  cursor: pointer !important;
}

.attach-div {
  position: relative;
  width: 25px;
  display: flex;
}

.attach-middle {
  position: relative;
  height: 18.2px;
}

.attach {
  object-fit: contain;
  width: 16.8px;
  height: 18.2px;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
}

.attach path {
  fill: #848484;
  transform: rotate(-45 100 100);
}

.ant-pagination {
  color: #212121 !important;
  margin: 16px -8px 16px 0 !important;
  .ant-pagination-item-link {
    border-radius: 4px;
    background-color: #d0d0d0;
  }
  .ant-pagination-item {
    border-radius: 4px;
    background-color: #d0d0d0;
  }
  .ant-pagination-options-quick-jumper input {
    border-radius: 4px;
    background-color: #d0d0d0;
    border: 1px solid #a0a0a0;
  }
}
