.my-ideas-container {
  .ant-table-content {
    border-radius: 12px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    min-height: 291px;
    min-width: 700px;
  }
  .ant-table-container {
    border-radius: 12px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
  }

  .ant-table {
    border-radius: 12px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    text-align: left;
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    .ant-table-thead {
      background-color: #ffffff;
      tr {
        th {
          background: #ffffff;
          border-bottom: 2px solid #eeeeee;
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #5a5a5a;
        }
      }
    }

    .ant-table-tbody {
      tr.ant-table-row {
        td {
          border-bottom: none;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          color: #5a5a5a;
          padding: 5px 0 5px 20px;
          cursor: pointer;
        }
      }
      tr.ant-table-row:hover {
        td {
          background: #cccccc26;
          color: #333333;
        }
      }
      .ant-table-placeholder {
        .ant-table-cell {
          border-bottom: none;
          height: 230px;
        }
      }
    }
  }
}

.Submitted {
  width: 96px;
  height: auto;
  border-radius: 4px;
  background-color: #a5aad9;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}

.Completed {
  width: 96px;
  height: auto;
  border-radius: 4px;
  background-color: #1a8b45;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}

.Draft {
  width: 96px;
  height: auto;
  border-radius: 4px;
  background-color: #f7941d;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}

.Reviewed {
  width: 96px;
  height: auto;
  border-radius: 4px;
  background-color: #0c5cc9;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}

.Approved {
  width: 96px;
  height: auto;
  border-radius: 4px;
  background-color: #0c5cc9;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}

.ant-pagination {
  color: #212121 !important;
  .ant-pagination-item-link {
    border-radius: 4px;
    background-color: #d0d0d0;
  }
  .ant-pagination-item {
    border-radius: 4px;
    background-color: #d0d0d0;
  }
  .ant-pagination-options-quick-jumper input {
    border-radius: 4px;
    background-color: #d0d0d0;
    border: 1px solid #a0a0a0;
  }
}
