.alertOuter{
    width: 368px;
    height: 56px;
    border-radius: 12px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: 600px;
    position: fixed;
  }

  .shapes-and-symbols {
    width: 39px;
    height: 39px;
    margin-top: 20;
    align-self: flex-start;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 8px;
  }

  .This-idea-has-been-Closed-successfully {
    width: 251px;
    height: 19px;
    font-family: Avenir;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    align-self: center;
    margin-left: 80px;
    margin-top: -40px;
  }