.status-tag {
  width: 96px;
  height: 22px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
