.app-header {
    padding: 0px 15px;
    display: flex;
    background-color: #6a205f;
    // height: 35px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .left-nav-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1;
        span {
            color: white;
            margin-left: 5.4px;
        }
        .header-logos {
            min-width: 112px;
            max-height: 67px;
        }
        .nav-logos {
            height: 14.9px;
        }
        .nav-list-items {
            padding: 21px;
            cursor: pointer;
            &.active {
                background-color: #53154a;
            }
        }
    }
    .right-nav-content {
        .nav-logos {
            // height: 25px;
            height: 14.9px;
        }
        .ant-avatar {
            margin: 0px 20px;
        }
    }
}