.dashboard-container {
  padding: 18px 0px;
  .ant-col {
    flex: 1;
    .ant-card-bordered {
      border: none;
      border-radius: 12px;
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
      height: 291px;
    }
    .ant-card-body {
      padding: 18px;
    }
  }
  .ant-row {
    margin-bottom: 24px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #5a5a5a;
}
