@import "~antd/dist/antd.css";

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/AvenirLTStd-Black.otf") format("opentype"),
    url("./fonts/AvenirLTStd-BlackOblique.otf") format("opentype"),
    url("./fonts/AvenirLTStd-Book.otf") format("opentype"),
    url("./fonts/AvenirLTStd-BookOblique.otf") format("opentype"),
    url("./fonts/AvenirLTStd-Heavy.otf") format("opentype"),
    url("./fonts/AvenirLTStd-HeavyOblique.otf") format("opentype"),
    url("./fonts/AvenirLTStd-Light.otf") format("opentype"),
    url("./fonts/AvenirLTStd-LightOblique.otf") format("opentype"),
    url("./fonts/AvenirLTStd-Medium.otf") format("opentype"),
    url("./fonts/AvenirLTStd-MediumOblique.otf") format("opentype"),
    url("./fonts/AvenirLTStd-Oblique.otf") format("opentype"),
    url("./fonts/AvenirLTStd-Roman.otf") format("opentype");
}

body {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  color: #5a5a5a;
  background: #eeeeee;

  //Scroll bar CSS
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
  }
}

.errorBoundary {
  text-align: center;
  padding: 270px;
  font-size: 50px;
  color: red;
}
