.ant-row {
    &.popup-header-title {
      align-items: center;
    }
    .ant-tag {
      border-radius: 4px;
    }
    .attachment-title-container {
      border: 1px dashed grey;
      padding: 5px;
      width: 100%;
    }
    .column-2 {
      flex: 1;
    }
    .timeline-header, .text-formatter {
      width: 100%;
    }
    label{
      color: #707070;
    }
    p, .attachment-label {
      color: #a7a7a7;
    }
    .content-format-container {
      width: 100%;
      .ant-card-body{
        min-height: 150px;
      }
      .formatter-icons{
        cursor: pointer;
      }
    }
  }